* {
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.313rem;
}

/* Grid Code */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
    grid-auto-flow: dense;
    gap: 0.25rem;
    max-width: 60%;
    margin: 1.25rem auto;
}

.horizontal {
    grid-column: auto / span 2;
}

.vertical {
    grid-row: auto / span 2;
}

.big {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
}